<header class="padding-lr">
    <img  src="assets/img/logo.png">
    <div >
        <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu"
            class="custom-menu">
            <a mat-menu-item href="#home">HOME</a>
            <a mat-menu-item href="#skills">SKILLS</a>
            <a mat-menu-item href="#portfolio">PORTFOLIO</a>
            <a mat-menu-item href="#about">ABOUT</a>
        </mat-menu>
        <a href="#home">HOME</a>
        <a href="#skills">SKILLS</a>
        <a href="#portfolio">PORTFOLIO</a>
        <a href="#about">ABOUT</a>
    </div>
</header>