<div id="portfolio" class="portfolio-container">
    <h2>My Work</h2>
    <div class="btn-container">
        @for (btn of buttons; track $index) {
        <button [class.activeBtn]="btn == currentName" (click)="active(btn)" id="{{ btn }}">{{ btn }}</button>
        }

    </div>
    <div class="work-box padding-lr">
        @for (project of filteredPortfolio; track project.name) {
        <div data-aos="zoom-in-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000"
            class="img-container">
            <div>
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <div class="engine-icons">
                    @for (engine of project.engine; track $index) {
                        <img [src]="getEngineIcon(engine)" [alt]="engine" [title]="engine">
                    }
                </div>
                <div class="btn-group">
                    <a target="_blank" [href]="project.address">
                        <button class="primary-btn">
                            <span class="material-icons">open_in_new</span>
                            Live Demo
                        </button>
                    </a>
                    <a target="_blank" [href]="project.github">
                        <button class="secondary-btn">
                            <span class="material-icons">code</span>
                            GitHub
                        </button>
                    </a>
                </div>
            </div>
            <img src="../../assets/img/{{ project.img }}">
        </div>
        }
    </div>
</div>